.app Button{
    -fx-pref-width:160;
    -fx-pref-height:40;
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
    -fx-alignment:center;
    -fx-effect:dropshadow(three-pass-box,#DDDDDD,5,0,0,6);
}

.app_long_textfield{
    -fx-pref-width: 200;
}

.app_search{
    -fx-background-color:#11463c;
    -fx-text-fill:#ffffff;
}

.app_date_label{
    -fx-font-family: "Calibri";
    -fx-font-size: 1.4em;
    -fx-text-fill: #9d9d9d;
}

.app Label{
    -fx-font-family: "Calibri";
}

.app_yellow{
    -fx-background-color:#fac783;
    -fx-text-fill:#132A13;
}

.app_green{
    -fx-background-color:#21ca89;
    -fx-text-fill:#ffffff;
}

.app_error_hbox{
    -fx-alignment: center;
}

.app_error_hbox Label{
    -fx-font-family: "Calibri";
    -fx-font-size:1.4em;
}

.app_transparent{
    -fx-background-color: transparent;
}

.app Button:hover{
    -fx-cursor:hand;
    -fx-background-color:#ccd2d9;
}

.app ComboBox{
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-font-family: "Calibri";
    -fx-font-size: 1.2em;
    -fx-background-color: #ecedf1;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.app_custom_text_field{
    -fx-pref-width: 50;
}

.app TextField{
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.app_parksettings_vbox{
    -fx-alignment: top-center;
    -fx-spacing: 25;
    -fx-border-color: black;
    -fx-border-style:  dashed ;
}

.app_header{
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

.app_body{
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-opacity:  0.7;
}

.app_gridpane{

}

.app_gridpane ComboBox{
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-font-family: "Calibri";
    -fx-font-size: 1.2em;
    -fx-background-color: #ecedf1;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.app_gridpane TextField{
    -fx-pref-width: 150;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri";
    -fx-pref-height: 35;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}


.app HBox{
    -fx-alignment: center;
    -fx-spacing: 20;
}

.app_makeorder{

}

.app_makeorder Button{
    -fx-pref-width:160;
    -fx-pref-height:30;
    -fx-background-color:#11463c;
    -fx-text-fill:#ffffff;
    -fx-font-size:1.4em;
    -fx-font-weight: bold;
    -fx-effect:dropshadow(three-pass-box,#DDDDDD,5,0,0,6);
}


.app_gridpane DatePicker{
    -fx-pref-width: 150;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri";
    -fx-pref-height: 35;
    -fx-background-color: #ecedf1;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.landing_page_left_side{

}

.landing_page_left_side_logo{
    -fx-background-color: #ffffff;
}


.landing_page_left_side_vbox{
    -fx-alignment: center;
    -fx-background-radius:0px 40px 0px 0px;
    -fx-background-color: linear-gradient(to bottom,#11463c,#11465f);
    -fx-font-family: "Calibri";
    -fx-spacing: 10;
    -fx-font-size: 1.6em;
}

.landing_page_left_side_user_details{
    -fx-alignment: center;
}

.landing_page_left_side_user_details HBox{
    -fx-alignment: center;
}

.landing_page_left_side_user_details Label{
    -fx-font-family: "Calibri";
    -fx-text-fill: #fefefe;
}

.landing_page_left_side_vbox Button{
    -fx-pref-width:200;
    -fx-pref-height:40;
    -fx-background-color:#FFFFFF;
    -fx-text-fill:#132A13;
    -fx-font-size:1.1em;
    -fx-alignment:center;
}

.landing_page_left_side_logout{
    -fx-alignment: bottom-center;
}

.landing_page_left_side_logout Button{
    -fx-background-color: #f5b754;
}

.landing_page_left_side_header{
    -fx-font-weight: bold;
    -fx-font-size: 1.8em;
    -fx-fill: #fac783;
}

.landing_page_left_side_body{
    -fx-fill: #ffffff;
}

.landing_page_right_side{
    -fx-background-color: #ebebeb;
}

.landing_page_right_side VBox{
    -fx-alignment: center;
    -fx-font-family: "Calibri";
    -fx-font-size: 1.5em;
    -fx-spacing: 15;
}

.landing_page_right_side HBox{
    -fx-alignment: center;
    -fx-spacing: 10;
}

.landing_page_right_side TextField{
    -fx-pref-width: 200;
}

.park_parameters{
    -fx-background-color:#FFFFFF;
    -fx-padding: 10 0 10 0;
    -fx-alignment:center;
    -fx-border-width:0 1 0 0;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
    -fx-background-radius:5;
    -fx-effect:dropshadow(three-pass-box,#AAAAAA,10,0,0,10);
}

.park_parameters_left{
    -fx-background-color:linear-gradient(to right,#05355c,#2e6aae);
    -fx-background-radius:5 20 5 5;
    -fx-effect:dropshadow(three-pass-box,#AAAAAA,10,0,0,10);
    -fx-border-radius: 8px;
}

.park_parameters_right{
    -fx-background-color:linear-gradient(to right,#0e5538,#188b63);
    -fx-background-radius:5 20 5 5;
    -fx-effect:dropshadow(three-pass-box,#AAAAAA,10,0,0,10);
}

.park_parameters Label{
    -fx-font-family: "Calibri";
    -fx-font-size:40px;
    -fx-text-fill: #fefefe;
}

.park_parameters_number{
    -fx-font-size: 60px;
}

.content_in_box{
    -fx-background-color:#FFFFFF;
    -fx-padding: 10 0 10 0;
    -fx-alignment:center;
    -fx-border-width:0 1 0 0;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
    -fx-background-radius:5;
    -fx-effect:dropshadow(three-pass-box,#AAAAAA,10,0,0,10);
}

.content_in_box Label{
    -fx-font-family: "Calibri";
    -fx-font-size:18px;
    -fx-text-fill: #000000;
}

.manager_order{

}

.manager_order Button{
        -fx-pref-width:200;
        -fx-pref-height:35;
        -fx-background-color:#11463c;
        -fx-text-fill:#ffffff;
        -fx-font-size:1.4em;
        -fx-font-weight: bold;
        -fx-effect:dropshadow(three-pass-box,#DDDDDD,5,0,0,6);
}

.manage_guides{

}

.manage_guides TableColumn{
    -fx-alignment: center;
}

.manage_guides ComboBox{
    -fx-pref-width: 100;
    -fx-pref-height: 25;
    -fx-font-family: "Calibri";
    -fx-font-size: 1em;
    -fx-background-color: #a8ccf8;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}